.idea/
# Keep specific .idea files
!.idea/codeStyles/
!.idea/compiler.xml
!.idea/deploymentTargetSelector.xml
!.idea/gradle.xml
!.idea/inspectionProfiles/
!.idea/kotlinc.xml
!.idea/migrations.xml

*.iml
.gradle
local.properties
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
